{% extends 'base.html' %}
{% block content %}

<h1>Game Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ game.title }}</span>
            <p>Platform: {{ game.platform }}</p>
            <p>Year: {{ game.year }}</p>
            <p>Genre: {{ game.genre }}</p>
            <p>ESRB Rating: {{ game.esrb }}</p>
            <p>Publisher: {{ game.publisher }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'games_update' game.id %}">Edit</a>
        <a href="{% url 'games_delete' game.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>

<br>

{% endblock %}
