{% extends 'base.html' %}
{% block content %}

<h1>Game Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          {% for photo in game.photo_set.all %}
            <img class="responsive-img card-panel" src="{{photo.url}}">
          {% empty %}
            <div class="card-panel teal-text center-align">No Cover Image</div>
        </span>
          {% endfor %}
          {% if user == game.user%}
            <form action="{% url 'add_photo' game.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
              {% csrf_token %}
              <input type="file" name="photo-file">
              <br><br>
              <input type="submit" class="btn" value="Upload Cover Image">
            </form>
          {% endif %}
            <p>Title: {{ game.title }}</p>
            <p>Platform: {{ game.platform }}</p>
            <p>Year: {{ game.year }}</p>
            <p>Genre: {{ game.genre }}</p>
            <p>ESRB Rating: {{ game.esrb }}</p>
            <p>Publisher: {{ game.publisher }}</p>
      </div>
      <div class="card-action">
      {% if user == game.user%}
        <a href="{% url 'games_update' game.id %}">Edit</a>
        <a href="{% url 'games_delete' game.id %}">Delete</a>
     {% endif %}
      </div>
    </div>
  </div>
</div>

<br>

{% endblock %}
