{% extends 'base.html' %}
{% block content %}

  {% if object %}
    <center><h1 class="pagetitle">Edit <span>{{object.title}}</span></h1></center>
  {% else %}
    <center><h1 class="pagetitle">Add A Game</h1></center>
  {% endif %}
<div class="card">
  <form action="" method="POST">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table><br>
    <center><input type="submit" value="Submit" class="waves-effect waves-light btn pink darken-2"></center>
  </form>
</div>
  <br>

<script>
const dateEl = document.getElementById('id_year');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

let selectESRB = document.getElementById('id_esrb');
  M.FormSelect.init(selectESRB);
let selectGenre = document.getElementById('id_genre');
  M.FormSelect.init(selectGenre);
</script>

{% endblock %}
