{% extends 'base.html' %}
{% block content%}
<center><h1 class="pagetitle">Prologue</h1></center>
<div class="row">
    <div class="col s2"></div>
    <div class="col s8">
        <div class="card indigo lighten-4">
            <p class="prologue">
                <font color="white">LOCATION:</font> AUSTIN, TX <br>
                <font color="white">YEAR:</font> 2020 <br><br>
                The city is on lockdown after a strange virus knocked out all video games made after the year 1995. Gaming cartridges were immune to the virus and have become the world’s currency. But with all Blockbuster Video stores out of business, a hero is needed...<br><br>
                You must collect as many of these ‘artifacts’ as possible!<br><br>
                Good luck...
            </p>
        </div>
    </div>
    <div class="col s2"></div>
</div>
{% endblock %}