{% load static %}
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="8-bit Archive" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://eight-bit-archive.herokuapp.com/" />
    <meta property="og:image" content="https://i.imgur.com/TxOoNB0.jpg" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+2|Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <title>8-bit Archive</title>
</head>
<body class="main">
    <center>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        <h1 class="title">8-bit</h1>
        <h1 class="title">Archive</h1>
        <h5 class="undertitle">A DJANGO FRAMEWORK WEB APP</h5><br>
        <h3><a href="{% url 'about' %}" class="start">START</a></h3>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <h6 class="copyright">© 2020 Masters of Detail</h6>
    </center>
</body>
</html>
