{% extends 'base.html' %}
{% block content %}

<center><h1 class="pagetitle">{{ collection.title }}</h1>
<a href="{% url 'collections_update' collection.id %}" class="waves-effect waves-light btn pink darken-2">Edit</a>
<a href="{% url 'collections_delete' collection.id %}" class="waves-effect waves-light btn pink darken-2">Delete</a>
</center>
<br>
<hr>
<div class="row">
  <div class="col s6">
    <center><h4 class="subtitle">Games in Your Collection</h4></center>
    {% if collection.games.count %}
      {% for game in collection.games.all %}
          <div class="card horizontal indigo lighten-4">
            <div class="card-image">
              {% for photo in game.photo_set.all %}
                <img class="cardimg" src="{{photo.url}}">
              {% empty %}
                <span class="cardimg">No Image</span>
              {% endfor %}
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <h4>{{ game.title }}</h4>
              </div>
            </div>
          <div class="card-action">
            <form action="{% url 'unassoc_game' collection.id game.id %}" method="POST">
                {% csrf_token %}
              <button type="submit" class="waves-effect waves-light btn pink darken-2">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <center><h5 class="message">Add Games!</h5></center>
    {% endif %}
  </div>
  <div class="col s6">
    <center><h4 class="subtitle">Available Games</h4></center>
    {% if games.count %}
      {% for game in games.all %}
        <div class="card horizontal indigo lighten-4">
          <div class="card-image">
            {% for photo in game.photo_set.all %}
              <img class="cardimg" src="{{photo.url}}">
            {% empty %}
              <span class="cardimg">No Image</span>
            {% endfor %}
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h4>{{ game.title }}</h4>
            </div>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_game' collection.id game.id %}" method="POST">
                {% csrf_token %}
              <button type="submit" class="waves-effect waves-light btn pink darken-2">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <center><h5 class="message">No Games to Add!</h5></center>
    {% endif %}
  </div>
</div>
<br>

{% endblock %}
